* {
  font-family: 'Exo 2', sans-serif;
}

html, body {
  background-color: #efefef;
  font-size: 14px;
}

/* Header Styles */

header {
  background-color: #e4000f;
  padding: 75px 0 75px;
}

header h1 {
  text-align:center;
  color: #fff;
  font-size: 3.7em;
}
header h2 {
  text-align: center;
  font-size: 1.3em;
}

/* Search Box */

.searchHeader {
  background-color:#e4000f;
  color: #fff;
  margin-top: -25px;
  border-radius: 5px 5px 0 0;
  height: 35px;
  padding-top: 7px;
  margin-bottom:15px;
}

.controls {
  margin: auto;
  max-width: 500px;
  box-shadow: 0px 2px 12px #888;
  border-radius: 5px;
  text-align: center;
  margin-top: 25px;
  background-color: #fff;
  padding: 25px 0 15px;
}

button {
  border: none;
  border-radius: 50px;
  background-color: #e4000f;
  padding: 8px 12px;
}
  
button:hover {
  font-weight:bold;
}
  
input {
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0px 5px #00000036; 
  padding: 6px 6px 6px 12px;
  min-width: 300px;
  text-align: center;
}

input:focus {
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0px 15px #00000036; 
  padding: 6px 6px 6px 12px;
  min-width: 300px;
  text-align: center;
}

/* Results */

section {
  max-width: 500px;
  margin:auto;
  text-transform: capitalize;
}
section div p {
  text-align: right;
  margin-right: 10px;
}

.results {
  padding: 10px;
}

img {
  margin-left: 20px;
  width: 150px;
}

.searchError {
  display:none;
  color:red;
  font-weight: bold;
  margin-top: 15px;
}

@keyframes error {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}