* {
  font-family: 'Exo 2', sans-serif;
}

html, body {
  background-color: #efefef;
  font-size: 14px;
}

/* Header Styles */



header {
  background-color: #e4000f;
  padding: 75px 0 75px;
}

header h1 {
  text-align:center;
  color: #fff;
  font-size: 3.7em;
}
header h2 {
  text-align: center;
  font-size: 1.3em;
}
    
/* .wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
} */

.searchHeader {
  background-color:#e4000f;
  color: #fff;
  margin-top: -25px;
  border-radius: 5px 5px 0 0;
  height: 35px;
  padding-top: 7px;
  margin-bottom:15px;
}

.controls {
  flex: 1;
  margin: auto;
  max-width: 500px;
  box-shadow: 0px 2px 12px #888;
  border-radius: 5px;
  text-align: center;
  margin-top: 25px;
  background-color: #fff;
  padding: 25px 0 15px;
}


    
.clearfix {
  clear: both;
}
    
button {
  border: none;
  border-radius: 50px;
  background-color: #e4000f;
  padding: 8px 12px;
}
  
button:hover {
  font-weight:bold;
}
  
input {
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0px 5px #00000036; 
  padding: 6px 6px 6px 12px;
  min-width: 300px;
  text-align: center;
}
input:focus {
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0px 15px #00000036; 
  padding: 6px 6px 6px 12px;
  min-width: 300px;
  text-align: center;
}
/* Results */

section {
  flex-flow: column;
  max-width: 500px;
  margin:auto;
  text-transform: capitalize;
}
section div p {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

section img {
  flex: 4;
  width: 150px;
}

.results {
  flex: 1;
  padding: 10px;
}

img {
  margin-left: 20px;
  width: 150px;
}

    